<tr>
    <td class="px-6 py-4 font-medium text-gray-900"><input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"></td>
    <td class="px-6 py-4 font-medium text-gray-900" *ngFor="let month of listMonths">
        <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text">
    </td>
    <td class="flex justify-end gap-4 px-6 py-4 font-medium"><a (click)="deleteLine()">Delete</a>
    </td>
</tr>
<tr *ngFor="let subData of data.subData; let _i = index;" class="pl-10">
    <td class="px-6 py-4 font-medium text-gray-900"><input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"></td>
    <td class="px-6 py-4 font-medium text-gray-900" *ngFor="let month of listMonths">
        <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text">
    </td>
    <td class="flex justify-end gap-4 px-6 py-4 font-medium"><a (click)="deleteSubLine(_i)">Delete</a>

</tr>
<tr>
    <td class="text-blue-600">
        <button (click)="addNewSub()">
            Add Sub
        </button>
    </td>
</tr>

<tr>
    <td class="font-bold text-l">
        SubTotal
    </td>
    <td class="px-6 py-4 font-medium text-gray-900" *ngFor="let month of listMonths">
        <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text">
    </td>
</tr>